<h1>Education</h1>
<hr>
<div class="row">
  {% for data in site.data.education %}
    <div class="card top-border col s12 m4">
      <h2 class="sub-title">{{ data.admission }}</h2>
      <h1 class="title">{{ data.name-ko }}</h1>
      <h2 class="major">{{ data.major }}</h2>
    </div>
  {% endfor %}
</div>
<br>
<h1>Experience</h1>
<hr>
<ul>
  {% for data in site.data.experience %}
    <li>
      <h2>
        <span class="term" >{{ data.term }}</span>
        {{ data.type }}
      </h2>
      <div class="desc">
        {{ data.activity | markdownify }}
      </div>
    </li>
  {% endfor %}
</ul>
