<div id="contact-form">
  <h1>Contact</h1>
  <hr>
  {% capture content %}
    {% include_relative sections/contact.md %}
  {% endcapture %}
  {{ content | markdownify }}
</div>
<div id="contact-box">
  {% if site.social.github %}
  <a class="contact right" href="https://github.com/{{site.social.github}}">
    <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if site.social.facebook %}
  <a class="contact right" href="https://www.facebook.com/{{site.social.facebook}}">
    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if site.social.twitter %}
  <a class="contact right" href="https://twitter.com/{{site.social.twitter}}">
    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if site.social.instagram %}
  <a class="contact right" href="https://www.instagram.com/{{site.social.instagram}}">
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if site.social.webpage %}
  <a class="contact right" href="{{site.social.webpage}}">
    <i class="fa fa-home fa-3x" aria-hidden="true"></i>
  </a>
  {% endif %}
</div>
