button,
input,
optgroup,
select,
textarea {
  font-family: inherit;  // normalize: All
  font-size: 100%;  // normalize: All
  line-height: 1.15;  // normalize: All
  margin: 0;  // normalize: Firefox and Safari
}
button,
input {
  overflow: visible;  // normalize: Edge and IE
}
button,
select {
  text-transform: none;  // normalize: Edge, Firefox and IE
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;  // normalize: iOS and Safari
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;  // normalize: Firefox
  padding: 0;  // normalize: Firefox
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;  // normalize: Firefox
}
fieldset {
  padding: 0.35em 0.75em 0.625em;  // normalize: Firefox
}
legend {
  box-sizing: border-box;  // normalize: IE
  color: inherit;  // normalize: IE
  display: table;  // normalize: IE
  max-width: 100%;  // normalize: IE
  white-space: normal;  // normalize: IE
  padding: 0;  // normalize: All
}
progress {
  vertical-align: baseline;  // normalize: Chrome, Firefox and Opera
}
textarea {
  overflow: auto;  // normalize: IE 10+
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;  // normalize: IE 10
  padding: 0;  // normalize: IE 10
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;  // normalize: Chrome
}
[type="search"] {
  -webkit-appearance: textfield;  // normalize: Chrome and Safari
  outline-offset: -2px;  // normalize: Safari
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;  // normalize: Chrome and Safari
}
::-webkit-file-upload-button {
  -webkit-appearance: button;  // normalize: iOS and Safari
  font: inherit;   // normalize: Safari
}