@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.60);
$disabled-text: rgba(255, 255, 255, 0.38);

// font
body {font-family: 'Noto Sans KR', sans-serif}
code {font-family: 'Nanum Gothic Coding', monospace}

//layout
body {
    background-color: #263238;
    display: grid;
    grid-template-columns: 300px auto;
    color: $high-emphasis;
}

aside {
    padding: 1rem 0.5rem;
    min-height: 1vh;
    h1 {
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }
    div#user-avatar {
        max-width: 5rem;
        margin: auto;
    }
    p {
        padding-left: 1.5rem;
        color: $medium-emphasis;
    }
    p#user-info {
        font-size: 0.9rem;
        .material-icons {font-size: 0.8rem}
    }
    p#user-bio {
        text-align: left;
        background-color: #37474F;
        padding: 0.3rem 0.8rem;
        border-radius: 2px;
    }
}

main {
    padding: 0.5rem;
}

p {
    line-height: 1.5;
    &.desc { color: $medium-emphasis; }
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: #ECEFF1;
    &.circle { border-radius: 50% }
    &.rounded { border-radius: 20% }
}

ul.repo-container {
    list-style: none;
    h2, p, ul { margin: 0; padding: 0; list-style: none;}
    .material-icons { vertical-align: middle }
    .repo-item {
        padding: 0.5rem 1rem 2rem 1rem;
        background-color: hsla(0, 100%, 100%, 0.05);
        box-shadow:
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            0px 1px 1px 0px hsla(0,0%,0%,0.14), 
            0px 2px 1px -1px hsla(0,0%,0%,0.12), 
            0px 1px 3px 0px hsla(0,0%,0%,0.2);
        border-radius: 2px;
        margin-top: 1rem;
    }
    h2 a {
        overflow-wrap: break-word;
        color: $high-emphasis;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    .languages-progress {
        height: 1rem;
        border-radius: 0.3rem;
        display: flex;
        overflow: hidden;
    }
    .languages-list {
        display: flex;
        flex-wrap: wrap;
    }
    .languages-list li {
        vertical-align: middle;
        margin-right: 1rem;
    }
    .languages-list svg {
        vertical-align: middle;
    }
    .repo-desc,
    .repo-datetime,
    .languages-list .size {
        color: $disabled-text;
        font-size: 0.9rem;
    }
    .repo-desc {
        margin: 0.5rem;
    }
    .repo-datetime {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
    .languages-list .name,
    .repo-size
     {
        color: $medium-emphasis;
        font-size: 0.9rem;   
    }
    .repo-languages {
        margin: 0.5rem;
    }
}


div.repo-container {
    max-width: 600px;
    border-radius: 2px;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: hsla(0, 100%, 100%, 0.05);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
    h2, p, ul {
        margin: 0;
    }
    p {
        color: $medium-emphasis;
        &.datetime, &.desc, .material-icons{
            font-size: 0.9rem;
            vertical-align: middle;
        }
        &.datetime, &.desc, &.code-size {
            margin-top: 0.5rem;
        }
    }
    div.progress, ul.languages {
        margin-top: 0.5rem;
    }
}

div.progress {
    min-height: 1rem;
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
}
ul.languages {
    list-style: none;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    li {
        font-size: 0.8rem;
        line-height: 1.5;
        vertical-align: middle;
        padding-right: 1rem;
    }
    .name {
        color: $high-emphasis;
    }
    .lines {
        color: $medium-emphasis;
    }
    svg {
        display: inline-block;
        vertical-align: middle;
    }
}