@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

// Text Color
$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.60);
$disabled-text: rgba(255, 255, 255, 0.38);

// Text font
body { font-family: 'Noto Sans KR', sans-serif }
code { font-family: 'Nanum Gothic Coding', monospace }

$aside-width: 300px;
$article-width: 600px;

//layout
@mixin xsmall-screen {
    @media (max-width: 500px) {
        @content;
    }
}
@mixin small-screen {
    @media (max-width: #{$aside-width + $article-width}) {
        @content;
    }
}
@mixin large-screen {
    @media (min-width: #{$aside-width + $article-width + 100px}) {
        @content;
    }
}
body {
    background-color: #263238;
    display: grid;
    color: $high-emphasis;
    grid-template-columns: $aside-width auto;
    @include small-screen {
        display: block;
    }
    @include large-screen {
        grid-template-columns: 1fr 2fr;
    }
}

aside {
    padding: 3rem 0.5rem 1rem 0.5rem;
    min-height: 1vh;
    max-width: $aside-width;
    margin: 0 auto;
    display: block;
    @include small-screen {
        max-width: $article-width;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
            "name avatar"
            "info avatar"
            "bio  avatar";
    }
    @include xsmall-screen {
        grid-template-areas:
            "name avatar"
            "info avatar"
            "bio  bio";
    }
    #user-avatar {
        grid-area: avatar;
        max-width: 5rem;
        margin: auto;
        @include small-screen {
            padding: 0;
            padding-left: 0.5rem;
            max-width: 100%;
            height: 100%;
        }
    }
    #user-name {
        grid-area: name;
        text-align: center;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        @include small-screen {
            text-align: right;
        }
    }
    #user-info {
        grid-area: info;
        text-align: center;
        line-height: 1.5;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $medium-emphasis;
        .material-icons {font-size: 0.9rem}
        @include small-screen {
            text-align: right;
            margin: 0.5rem 0;
        }
    }
    #user-bio {
        grid-area: bio;
        text-align: left;
        background-color: #37474F;
        padding: 0.3rem 0.8rem;
        border-radius: 2px;
        @include small-screen {
            margin: 0;
        }
    }
}

main {
    padding: 0.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: #ECEFF1;
    &.circle { border-radius: 50% }
    &.rounded { border-radius: 20% }
}

ul.repo-container {
    list-style: none;
    margin: 0;
    padding: 0;
    h2, p, ul { margin: 0; padding: 0; list-style: none;}
    .material-icons { vertical-align: middle }
    .repo-item {
        max-width: $article-width;
        margin: auto;
        margin-top: 1rem;
        padding: 0.5rem 1rem 2rem 1rem;
        background-color: hsla(0, 100%, 100%, 0.05);
        box-shadow:
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            0px 1px 1px 0px hsla(0,0%,0%,0.14), 
            0px 2px 1px -1px hsla(0,0%,0%,0.12), 
            0px 1px 3px 0px hsla(0,0%,0%,0.2);
        border-radius: 2px;
    }
    h2.repo-name a {
        font-size: 1.5rem;
        overflow-wrap: break-word;
        color: $high-emphasis;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        @include small-screen {
        font-size: 0.8em;
        }
    }
    .languages-progress {
        height: 1rem;
        border-radius: 0.3rem;
        display: flex;
        overflow: hidden;
    }
    .languages-list {
        display: flex;
        flex-wrap: wrap;
    }
    .languages-list li {
        vertical-align: middle;
        margin-right: 1rem;
    }
    .languages-list svg {
        vertical-align: middle;
    }
    .repo-desc,
    .repo-datetime,
    .languages-list .size {
        color: $disabled-text;
        font-size: 0.9rem;
    }
    .repo-desc {
        margin: 0.5rem;
    }
    .repo-datetime {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
    .languages-list .name,
    .repo-size
     {
        color: $medium-emphasis;
        font-size: 0.9rem;   
    }
    .repo-languages {
        margin: 0.5rem;
    }
}


div.repo-container {
    max-width: 600px;
    border-radius: 2px;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: hsla(0, 100%, 100%, 0.05);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
    h2, p, ul {
        margin: 0;
    }
    p {
        color: $medium-emphasis;
        &.datetime, &.desc, .material-icons{
            font-size: 0.9rem;
            vertical-align: middle;
        }
        &.datetime, &.desc, &.code-size {
            margin-top: 0.5rem;
        }
    }
    div.progress, ul.languages {
        margin-top: 0.5rem;
    }
}

div.progress {
    min-height: 1rem;
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
}
ul.languages {
    list-style: none;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    li {
        font-size: 0.8rem;
        line-height: 1.5;
        vertical-align: middle;
        padding-right: 1rem;
    }
    .name {
        color: $high-emphasis;
    }
    .lines {
        color: $medium-emphasis;
    }
    svg {
        display: inline-block;
        vertical-align: middle;
    }
}