
// 미디어 쿼리용 글로벌 변수
$scr-small: "max-width: 767px";   // 약식: s
$scr-medium: "min-width: 768px";  // 약식: m
$scr-large: "min-width: 992px";   // 약식: l
$scr-xlarge: "min-width: 1200px"; // 약식: xl

@mixin media($screen) {
  @if $screen == s { @media ($scr-small) { @content; } }
  @else if $screen == m { @media ( $scr-medium ) { @content; } }
  @else if $screen == l { @media ( $scr-large ) { @content; } }
  @else if $screen == xl { @media ( $scr-xlarge ) { @content; } }
  @else { @warn "using only [s, m, l, xl]"; }
}
