<!Document html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "css/style.css" | absolute_url }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/github-api/dist/GitHub.bundle.min.js"></script>
</head>

<body>
    <header>
        <div id="github-user-profile"></div>
    </header>
    <article>
        <!-- <section id="section-education">
            <h1>Education</h1>
        </section> -->
        <section id="section-github-repos">
            <h1>GitHub Info</h1>
            <div id="github-user-repo-list"></div>
        </section>
    </article>
    <!-- <nav>nav</nav>
    <aside>aside</aside> -->
    <script src="{{ "js/jQuery.s0.github-view.js" | absolute_url }}"></script>
    <script>
        $('#github-user-profile').githubProfile();
        $('#github-user-repo-list').githubRepos();
    </script>
</body>

</html>